* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #E0E0E0;
	font-family: Helvetica;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	color: #27231C;
}

a {
	color: #27231C;
	font-weight: normal;
}

textarea,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 5px 3px;
	font-family: inherit;
	font-size: inherit;
}

p, li, td {
	padding: 0.5em 0;
}

blockquote {
	border: 1px dashed #27231C;
	padding: 0.5em;
}

.hidden {
	display: none;
}

#header #logo,
#head {
	background: #27231C;
	padding-top: 0.5em;
	padding-bottom: 3em;
}

#head span {
	display: none;
}

#foot, #footer, #site_debug {
	display: none;
}

#maincontent #logo {
	height: 3em;
}

#logo li {
	float: left;
	margin: -2em 0.5em 0 0;
	height: 2em;
	padding: 0.5em;
	background: #E0E0E0;
	list-style: none;
}

#logo li a {
	color: #27231C;
	text-decoration: none;
}

.poetry {
	text-align: justify;
	padding: 1em;
}

#content {
	padding: 1em;
}

#menu:after, #userinfo:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#menu ul li,
#userinfo ul li {
	padding: 0;
	margin: 0;
	height: 4em;
	width: 33%;
	float: left;
	text-align: center;
	list-style: none;
}

h3, .colhead_dark, .head, h3 a, .colhead_dark a, .head a {
	background: #27231C;
	text-shadow: #5B5041;
	color: #E0E0E0;
	padding: 0.2em 0 0.3em 1em;
	text-decoration: none;
	margin: 1em 0;
}

.last_read a:after {
	content: '=>';
}

.colhead_dark td {
	padding: 0.5em;
}

#alerts {
	background: #27231C;
	text-shadow: #5B5041;
	color: #E0E0E0;
	text-align: center;
	padding: 0 0 0.5em 0;
}

#alerts a {
	color: #E0E0E0;
}

#searchbars li {
	padding: 0;
}

#nav_irc, #nav_upload, #nav_donate {
	display: none;
}

.colhead {
	display: none;
}

.linkbox {
	display: none;
	text-align: center;
}

.forum_post {
	width: 100%;
}

.staff td:nth-child(2),
.forum_list td:first-child, 
.forum_list td:nth-child(3),
.forum_list td:nth-child(4),
.forum_index td:first-child, 
.forum_index td:nth-child(3),
.forum_index td:nth-child(4),
.forum_index td:nth-child(5),
.last_poster,
.forum_post td img,
.user_title,
.post_id,
.time,
.sidebar,
#recommended,
#top10 td:first-child,
#top10 td:nth-child(2),
#top10 td:nth-child(4),
#top10 td:nth-child(5),
#top10 td:nth-child(6),
#top10 td:nth-child(7),
#top10 td:nth-child(8),
#torrents #torrent_table td:first-child,
#torrents #torrent_table td:nth-child(2),
#torrents #torrent_table td:nth-child(4),
#torrents #torrent_table td:nth-child(5),
#torrents #torrent_table td:nth-child(6),
#torrents #torrent_table td:nth-child(7),
#torrents #torrent_table td:nth-child(8),
#torrents #torrent_table td:nth-child(9),
#torrents #torrent_table td:nth-child(3) span
{
	display: none;
}


h2 {
	position: absolute;
	overflow: hidden;
	top: 0.8em;
	left: 0;
	font-size: 1em;
	width: 100%;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: #5B5041;
	color: #E0E0E0;
	padding-top: 5px;
	white-space: nowrap;
}

h2 a {
	font-weight: bold;
	text-shadow: #5B5041;
	color: #E0E0E0;
	text-decoration: none;
}

#extra1 {
	position: absolute;
	right: 10px;
	top: 1em;
	width: 20px;
	height: 20px;
	background: url('grid.png');
}

#extra2 {
	position: absolute;
	right: 40px;
	top: 1em;
	width: 20px;
	height: 20px;
	background: url('search.png');
}

#extra1 a, #extra2 a {
	display: block;
	width: 100%;
	height: 100%;
}

#searchbars ul li ul li {
	padding: 0.5em;
}

/* Toggles */

#userinfo, #menu, #searchbars {
	display: none;
}
